:host {
  display: block;
  padding: 0 1.5rem;
  padding-bottom: 1.5rem;
}

.source,
.target {
  white-space: pre-wrap;
}

table {
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
}
