.angular/*
.github/*
browserslist
LICENSE
coverage
app/*
*.ico
*.xlf
*.svg
bin/index.js
bin/index.d.ts
builders/*/index.js
builders/*/index.d.ts
server/client/*
schematics/*/index.js
schematics/*/index.d.ts
package-lock.json
test/xlf
test/xlf2