.github/*
browserslist
LICENSE
coverage
app/*
package-lock.json
.*
*.ico
*.xlf
*.svg
t9n/index.js
t9n/index.d.ts
builders/*/index.js
builders/*/index.d.ts
schematics/*/index.js
schematics/*/index.d.ts