<mat-toolbar color="primary" role="heading">
  <a mat-button routerLink="/">
    <mat-icon>translate</mat-icon>
    angular-t9n
  </a>
  <a mat-button matTooltip="Dashboard" routerLink="/">
    <mat-icon>home</mat-icon>
  </a>
  <a mat-button matTooltip="Migrate Orphans" routerLink="/orphans">
    <mat-icon>mediation</mat-icon> Orphans
  </a>
  <span class="separator"></span>
  <a mat-button href="https://github.com/kyubisation/angular-t9n">
    <img src="assets/github.svg" alt="GitHub" /> GitHub
  </a>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
