:host {
  display: block;
  height: calc(100% - 64px);
  padding-top: 64px;
}

:host(.service-down) {
  opacity: 0.5;
  pointer-events: none;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;

  .separator {
    flex: 1 1 auto;
  }

  a img {
    padding-right: 0.2rem;
  }
}

main {
  height: 100%;
}
