:host {
  display: block;
  margin: 2rem;
}

h2 + button {
  margin-bottom: 1.5rem;
}

table {
  margin-bottom: 1rem;

  th {
    text-align: left;
    padding-right: 1rem;
  }

  td {
    text-align: right;
  }
}

:host > div {
  display: flex;
  flex-wrap: wrap;

  mat-card {
    flex: 0 20rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

    mat-card-actions a {
      margin-right: 0;
    }
  }
}

mat-card-content > div {
  width: 100%;
  height: 4px;
  display: flex;
  overflow: hidden;

  > div {
    height: 100%;

    &:nth-child(1) {
      background-color: red;
    }

    &:nth-child(2) {
      background-color: yellowgreen;
    }

    &:nth-child(3),
    &:nth-child(4) {
      background-color: green;
    }
  }
}
