<dl>
  <dt i18n>Project</dt>
  <dd>{{ project | async }}</dd>

  <dt i18n>Source file</dt>
  <dd>{{ sourceFile | async }}</dd>

  <dt i18n>Source language</dt>
  <dd>{{ sourceLanguage | async }}</dd>

  <dt i18n>Amount of translation units</dt>
  <dd>{{ unitCount | async }}</dd>
</dl>

<h2>Languages</h2>

<button (click)="openLanguageModal()" type="button" mat-raised-button color="primary" i18n>
  Add Language
</button>

<div>
  <mat-card appearance="outlined" *ngFor="let target of targets | async">
    <mat-card-header>
      <mat-card-title>{{ target.language }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <th i18n>Untranslated</th>
          <td>{{ target.initialCount }}</td>
        </tr>
        <tr>
          <th i18n>Translated</th>
          <td>{{ target.translatedCount }}</td>
        </tr>
        <tr>
          <th i18n>Reviewed</th>
          <td>{{ target.reviewedCount }}</td>
        </tr>
        <tr>
          <th i18n>Final</th>
          <td>{{ target.finalCount }}</td>
        </tr>
      </table>

      <div>
        <div
          i18n-malTooltip
          matTooltip="{{ initialPercentage(target) }}% untranslated"
          [style.width.%]="initialPercentage(target)"
        ></div>
        <div
          i18n-malTooltip
          matTooltip="{{ translatedPercentage(target) }}% translated"
          [style.width.%]="translatedPercentage(target)"
        ></div>
        <div
          i18n-malTooltip
          matTooltip="{{ reviewedPercentage(target) }}% reviewed"
          [style.width.%]="reviewedPercentage(target)"
        ></div>
        <div
          i18n-malTooltip
          matTooltip="{{ finalPercentage(target) }}% finalized"
          [style.width.%]="finalPercentage(target)"
        ></div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="['/target', target.language]" mat-raised-button color="primary" i18n>Edit</a>
      <a
        [routerLink]="['/target', target.language, 'export']"
        mat-raised-button
        color="primary"
        i18n
        >Export</a
      >
      <a
        [routerLink]="['/target', target.language, 'import']"
        mat-raised-button
        color="primary"
        i18n
        >Import</a
      >
      <a
        *ngIf="target.orphanCount"
        [routerLink]="['/target', target.language, 'orphans']"
        mat-raised-button
        color="primary"
        i18n-malTooltip
        matTooltip="Units that are no longer contained in the source"
        i18n
        >Orphans</a
      >
    </mat-card-actions>
  </mat-card>
</div>
