<ng-template>
  <span i18n>Empty example</span>
  <span i18n="@@exampleId">Example with id</span>
  <span i18n="description">Example with description</span>
  <span i18n="meaning|descriptionMeaning">Example with description/meaning</span>
  <span i18n-title="titleMeaning|titleDescription" title="Title">Should NOT be translated</span>
  <span i18n>Example with {amount, plural, =0 {nothing} =1 {one thing} other {things}}</span>
  <span i18n
    >Example with {amount, plural, =0 {nothing} =1 {one thing} other {{{amount}} of things}}</span
  >
  <span i18n>The author is {gender, select, male {male} female {female} other {other}}</span>
  <span i18n>The author is {gender, select, male {male} female {female} other {{{gender}}}}</span>
  <span i18n
    >Updated: {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago by
    {gender, select, male {male} female {female} other {other}}}}
  </span>
  <span i18n>Example with value {{ minutes }}</span>
  <span i18n>Example with value {{ title | titlecase }}</span>
  <span i18n>Example with image <img src="favicon.ico" alt="It's a favicon"/></span>
  <span i18n
    >Example with images <img src="favicon.ico" alt="It's a favicon"/> and
    <img src="favicon2.ico" alt="It's another favicon"
  /></span>
  <span i18n>Empty example</span>
  <span i18n
    >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
    beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
    odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
    voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
    laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
    in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
    quo voluptas nulla pariatur?</span
  >
</ng-template>
